body {
	background-color: #4F4F4F;
	color: #CCCCCC;
}

nav {
	text-align: center;
}

.container {
	width: 600px;
	padding: 40px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	border: #CCCCCC 4px solid;
}

h1 {
text-align: center;
color: white;
font-style: italic;
font-size: 35px;
font-weight: lighter;
}

h2 {
	color: white;
	font-weight: bold;
	font-family: helvetica;
}

h3 {
	color: white;
	font-weight: lighter;
}

a {
	color: #81BF7E;	
}

li {
	list-style-type: square;
	color: white;
	font-family: helvetica;
}

.job {
	display: inline;
}

.educationlist {
	line-height: 50%;
	font-weight: bold;
}

.role {
	font-weight: bold;
}

.company {
	font-weight: normal;
	display: inline;
	*****
}

.year {
	font-weight: lighter;
	color: #9E9E9E;
	font-size: 82%;
	display: inline;
}


.listheader {
	font-size: 14;
	color: #CCCCCC;
	text-transform: uppercase;
	font-family: arial;
	font-weight: bold;
}

.inline {
	display: inline;
	font-family: helvetica;
	font-weight: bold;
	padding-left: 5px;
}

.right-border {
	display: inline;
	border-right: #CCCCCC 2px solid;
	font-family: helvetica;
	font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
}

.divider {
	border-top: #CCCCCC 1px solid;
	margin-top:20px;
	margin-bottom:20px;
}

.betty {
	float: right;
	padding: 5px;
	border: grey 1px solid;
	margin-bottom: 6px;
	margin-left: 4px;
}





